body {
  font-family: "Poppins", sans-serif;
}

h1 {
  line-height: 120px;
  font-weight: 200;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 42px;
  color: #c4c4c4;
}

.bold {
  font-size: 40px;
  font-weight: 800;
  line-height: 120px;
}

.nav-link {
  padding: 60px 0px;
  color: black;
}

.col-sm-12.home-intro--bold {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
}

.col-sm-12.home-intro {
  font-weight: 300;
  font-size: 60px;
  line-height: 90px;
}

.row {
  padding-bottom: 120px;
}

.col-sm-12.sub-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
}

.col-sm-12.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
}

.col-sm-12.proj-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 42px;
  max-width: 540px;
}

.col-sm-6.proj-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 42px;
  max-width: 540px;
}

.col-sm-12.proj-problem-statement {
  font-weight: 300;
  font-size: 16px;
  line-height: 42px;
}

.features {
  font-weight: 800;
  font-size: 16px;
  line-height: 42px;
}

.proj-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 42px;
  max-width: 540px;
}

.col-sm-6.proj-summary {
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
}

.hidden-img {
  display: none;
}

.container .row .col-sm-12.bold:hover .hidden-img {
  display: inline-block;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #d4d4d4;
  background-color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.container .row .col-sm-12.home-intro.hidden {
  font-weight: 800;
}
